body{
    background-color: #E9F8F9;
    }

hr{
    background-color: none;
    border-top: 3px dotted grey;
    width: 10%;
    height: 2px;
    }

    h1{
        color: #66BFBF;

    }
    h3{
        color: #66BFBF;
    }